<app-defaut-login-layout 
    title="Sign in and start today!"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
<form [formGroup]="signupForm">
    <app-primary-input
    formControlName="name"
    inputName="name"
    type="text"
    label="Your Name"
    placeholder="Joao"
>
    <img src="/assets/svg/email-icon.svg" alt="">

</app-primary-input>
    <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="jaodo@proton.me"
    >
        <img src="/assets/svg/email-icon.svg" alt="">

    </app-primary-input>
    <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Password"
>
    <img src="/assets/svg/password.svg" alt="">
</app-primary-input>
<app-primary-input
formControlName="passwordConfirm"
inputName="passwordConfim"
type="password"
label="Confim Password"
>
<img src="/assets/svg/password.svg" alt="">
</app-primary-input>
</form>

</app-defaut-login-layout>